include ../layout/header
include ../layout/navigation
div.jumbotron.jumbotron-fluid.mb-0
    div.container
        h1.display-4=p.title
        ul.list-group
            li.list-group-item.h3="Post tag: "+p.tag
            
            li.list-group-item.h3="Post text:"
                p.font-weight-normal=p.text
            - let temp = p.createdAt.toString().slice(0,21)
            li.list-group-item.h3="Post create: "+temp
include ../layout/footer

