include ../layout/header
include ../layout/navigation
div.jumbotron
    div.container
        img(src="...", alt="image").rounded.float-left
    div.container.mr-2
        ul.list-group.list-group-flush
            h4.list-group-item.far.fa-user.bg-light.mb-2.align-self-center=" User : " + userToSend.firstName + " " + userToSend.lastName 
            h4.list-group-item.far.fa-envelope.bg-light.mb-2.align-self-center=" User email : "+" "+userToSend.email
            h4.list-group-item.far.fa-surprise.bg-light.mb-2.align-self-center=" User nickname : "+userToSend.nickname
div.album.py-5.bg-light
    div.container
        div.row
                each val,index in p
                    - let temp = user.id.toString()===val.author.toString() ? true : false
                    if temp
                        div.col-md-4
                            div.card.mb-4.shadow-sm
                                img(src="").card-img-top
                                div.card-body
                                    h5.card-title=val.title
                                    p.card-text=val.text
include ../layout/footer
<i class="far.fa-surprise"></i>